<div class="container" id="about-us">
  <div class="row">
    <div class="col-lg-6">
      <form>
        <div class="form-group">
          <label for="exampleInputName1"><strong>Name</strong></label>
          <input
            type="text"
            class="form-control"
            id="exampleInputName1"
            placeholder="Your Name"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1"><strong>Email Address</strong></label>
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Enter email"
          />
          <small id="emailHelp" class="form-text text-muted"
            >We'll never share your email with anyone else.</small
          >
        </div>
        <div class="form-group">
          <label for="exampleMobile"><strong>Mobile No.</strong></label>
          <input
            type="text"
            class="form-control"
            id="exampleMobile"
            placeholder="Mobile no."
          />
        </div>
        <div class="form-group">
          <label for="comments"><strong>Comments</strong></label>
          <textarea
            class="form-control"
            name=""
            id="comments"
            rows="3"
            placeholder="Write something here"
          ></textarea>
        </div>
        <button mat-raised-button color="primary">Submit</button>
      </form>
    </div>
    <div class="col-lg-6">
      <h2 style="text-align: center;">Our Social media handles</h2>
      <div class="social-media">
        <a href><i id="fb" class="social-media-icons fab fa-facebook fa-2x"></i></a>
        <a href><i id="tweet" class="social-media-icons fab fa-twitter fa-2x"></i></a>
        <a href><i id="insta" class="social-media-icons fab fa-instagram fa-2x"></i></a>
        <a href><i id="wp" class="social-media-icons fab fa-whatsapp fa-2x"></i></a>
      </div>
    </div>
  </div>
</div>

