<div class="container-fluid pt-4" id="about-component">
  <img src="../../assets/Xavier's_Playground.jpg" alt="" />
  <hr />
  <div class="about-component-description">
    <h1 style="font-weight: bold; font-size: 28px">
      About St. SPC School (Autonomous), Kolkata
    </h1>
    <br />
    <h2>Characteristics</h2>
    <hr />
    <p>
      Characteristics A Christian Minority Higher Educational Institution, St.
      SPC was founded in 1860 by a Catholic Minority Religious body, the Society
      of Jesus, and was affiliated to Calcutta University in 1862. While
      preference is shown to the educational and cultural needs of the Minority
      community, admission is open to all irrespective of caste, creed and
      nationality!
    </p>
    <br />
    <h2>A Multi-faculty school</h2>
    <hr />
    <p style="font-size: 14px">
      St. SPC Collegiate School (informally SXCS) is an independent Catholic
      private day school for boys run by the Society of Jesus in Kolkata, West
      Bengal, India. It was founded in 1860 by the Jesuits under the supervision
      of Rev.Fr.Henri Depelchin, and it is named after Francis Xavier, a
      16th-century Jesuit missionary to India. The school completed its
      sesquicentennial year in 2010.
    </p>
    <br />
    <h2>History</h2>
    <hr />
    <p>
      The school was founded in 1860 by the Society of Jesus, an all-male
      Catholic religious order. The school is named after Francis Xavier, a
      Spanish Jesuit saint. The founder of the school is Fr. Henri Depelchin,
      who oversaw most of the groundwork during the early years.
    </p>
    <h3 class="ml-3">San Souci theatre</h3>
    <p class="ml-3">
      The San Souci theatre at 30 Park Street (now Mother Teresa Sarani),
      Kolkata-700016, was burned to the ground in 1843. The property was
      purchased by Jesuits from Belgium and became the present campus.
    </p>
    <br />
    <h3 class="ml-3">Foundation years</h3>
    <p class="ml-3">
      The motto Nihil ultra along with the crest of the college date to the
      rectorship of Jesuit Fr. O"Neill, 1904–1913.The present imposing
      five-storied building was built from 1934 to 1940 at a cost of Rs 9 lakhs,
      which was collected partly from the public of Calcutta, assistance from
      Belgium, and the huge rental received from the American army that occupied
      the building during the second World War. Expansion of the school has been
      a long effort, with a campus slated for Salt Lake City, Kolkata and a
      second boys' hostel not far from the existing one. A commemorative stamp
      was issued by the Indian Post Office on 12 April 1985 depicting the campus
      and in its commentary recognising the school's contribution to society.In
      2019,the foundation stone was laid for a new kindergarten section.
    </p>
    <br />
    <h2>Programs</h2>
    <hr />
    <p>
      Students have excelled on the Indian Certificate of Secondary Education
      exam.In 2015, a student secured the highest marks in the ICSE examination
      while in 2017 a student scored the highest marks, in the Indian School
      Certificate examination.In 2013 Xavier was ranked by Digital Learning as
      the top school in West Bengal.The school is divided into houses namely
      Berchmans, Britto, Gonzaga and Loyola, all trained in synchronized
      marching.The tertiary section extended to coeducational Honors Arts and
      Science programs and Teacher Training while still on the high school
      campus.In 2011 Xavier was judged the best eco-initiative school in Kolkata
      City for its preparation of compost manure for organic gardening.The
      school won a football tournament organized to promote outdoor exercise (so
      that youth do not become addicted to staying indoors with their
      computers).The traveling cricket team in 2016 secured the first place in a
      tournament in Leicester, England.[12] In September 2016 the school hosted
      an exhibition of about 90 paintings of Mother Teresa to commemorate her
      canonization that month.
    </p>
    <h2>Step towards university</h2>
    <hr />
    <p>
      Xavier is expanding into tertiary education in collaboration with other
      groups, as with the Jesuit Xavier School of Management in Jamshedpur, on a
      new 17-acre campus in Rajarhat near New Town, Kolkata. A research centre
      with post-graduate courses is also planned. While schools of engineering
      and medicine are being considered, plans are progressing slowly to assure
      that fees will remain low and a wide range of students will be able to
      afford the education
    </p>
    <h2>Notable alumni</h2>
    <hr />
    <ul>
      <li>
        Rabindranath Tagore, polymath, novelist, poet, musician, artist and the
        recipient of the 1913 Nobel Prize for Literature
      </li>
      <li>
        Jagadish Chandra Bose,biologist, physicist, biophysicist, botanist,
        archaeologist and Fellow of the Royal Society[1]
      </li>
      <li>Utpal Dutt, actor</li>
      <li>Derek O'Brien, quizmaster, parliamentarian</li>
      <li>
        Shashi Tharoor, UN undersecretary, eminent parliamentarian and former
        External Affairs minister
      </li>
      <li>Neil O'Brien, quizmaster</li>
      <li>Aditya Vikram Birla, industrialist</li>
    </ul>
  </div>
</div>
