<hr class="featurette-divider" />

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">PRINCIPAL'S MESSAGE</h2>
    <p class="lead">
      Dear Students, Staff, Parents, Alumni/ae, Benefactors and Well Wishers, A
      Christian Minority Higher Educational Institution, St. Xavier’s was
      founded in 1860 by a Catholic Minority Religious Body, the Society of
      Jesus, and was affiliated to the University of Calcutta in 1862. While
      preference is shown to the educational and cultural needs of the Christian
      Minority community and the poor i.e. socially and financially
      marginalized, admission is open to all irrespective of caste, creed and
      nationality. With a long and rewarding history of achievement of the
      Jesuits in education, our College community continues to move forward
      together with confidence, pride and enthusiasm. This institution was
      created with the objective of providing 360 degree quality education which
      will enable students not only to thrive in academics but also motivate
      them towards character building, leadership, extra and co-curricular
      activities. A very strong, dedicated and capable team of educators has
      always been the driving force in the growth of the College
    </p>
  </div>
  <div class="col-md-5">
    <img
      src="../../assets/principal_img_new.png"
      class="img-rounded"
      height="300"
      width="400"
    />
  </div>
</div>

<hr class="featurette-divider" />

<div class="row featurette">
  <div class="col-md-7 order-md-2">
    <h2 class="featurette-heading">HISTORY <br /></h2>
    <p class="lead">
      A host of seven Belgian Jesuits arrived at Calcutta in November 1859,
      under the leadership of Fr. H. Depelchin (Rector: 1860-1871), in the
      Founding Father of the second St. Xavier’s, They shifted St. Xavier’s from
      Chowringhee to the Sans Souci Theatre in January 1860, which is now the
      honest home of learned professors and zealous students. With one hundred
      and fifty two years of service to the nation, St. Xavier’s College,
      Kolkata, has grown today into a leading educational institution in India.
      Both St. Xavier’s School and College are proud of their contribution to
      the cause of education and culture in Bengal for 152 years. These twin
      institutions have produced many great educationists and students who
      earned regard and respect for their Alma Mater. <br />
      <a [routerLink]="'/aboutus'">Read More..</a>
    </p>
  </div>
  <div class="col-md-5 order-md-1">
    <img
      src="../../assets/st-xaviers-college-sxc-kolkata.jpg"
      class="img-rounded"
      height="230"
      width="400"
    />
  </div>
</div>

<hr class="featurette-divider" />

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">AIMS & OBJECTIVES <br /></h2>
    <p class="lead">
      To become a centre of excellence in Higher Education. <br />
      To excel in all areas of teaching-learning, research, outreach and
      consultancy <br />
      To contribute to the creation of knowledge and to search for the meaning
      of life <br />
      To provide education that qualifies as international class for our
      students <br />
      To be a bridge between the rural-urban divide, taking the benefits of
      education to the poor and the marginalized, aiming at their empowerment
      <br />
      To ensure access to and equity in higher educational opportunity to all
      deserving and meritorious students with a preferential option for the poor
      and marginalized, irrespective of caste and creed
      <br />
      <a [routerLink]="'/aboutus'">Read More..</a>
    </p>
  </div>
  <div class="col-md-5">
    <img
      src="../../assets/BMS-03-2019.jpg"
      class="img-rounded-move-down"
      height="250"
      width="410"
    />
  </div>
</div>

<hr class="featurette-divider" />
