.featurette-heading{
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.lead{
    font-size: 0.8rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

span{
    color: black;
    font-size: .75rem;
    font-family: 'Montserrat', sans-serif;
}

.img-rounded{
    border-radius: 10px;
}

.img-rounded-move-down{
    border-radius: 10px;
    position: absolute;
    top: 10px; 
}

.featurette p {
    font-size: 0.9rem;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
  }

