<button (click)='onClickAddAttendance()'>Add Attendance</button>


<button (click)='onClickUpdateAttendance()'>Update Attendance</button>
<br>
<br>

<button (click)='onClickUpdateConcern()'>Concern Update</button>

<br>
<br>

<button (click)='onClickAddDailyDiary()'>Add Diary</button>


<button (click)='onClickUpdateDailyDiary()'>Update Diary</button>
<br>
<br>

<button (click)='onClickAddExam()'>Add Exam</button>


<button (click)='onClickUpdateExam()'>Update Exam</button>
<br>
<br>

<button (click)='onClickAddReportCard()'>Add ReportCard</button>


<button (click)='onClickUpdateReportCard()'>Update ReportCard</button>
<br>
<br>

