.login-page {
    height: 100vh;
    background: #3f3697 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .card {
    overflow: hidden;
    border: 0 !important;
    border-radius: 20px !important;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  }
  
  .card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .img-left {
    width: 45%;
    background: url("../../assets/loginPageStudent.jpg") center;
    background-size: cover;
  }
  
  .card-body {
    padding: 2rem;
  }
  
  .title {
    margin-bottom: 2rem;
  }
  
  .form-input {
    position: relative;
  }
  
  .form-input input {
    width: 100%;
    height: 45px;
    padding-left: 40px;
    margin-bottom: 20px;
    box-sizing: border-box;
    box-shadow: none;
    border: 1px solid #00000020;
    border-radius: 50px;
    outline: none;
    background: transparent;
  }

  .form-input select {
    width: 100%;
    height: 45px;
    padding-left: 40px;
    margin-bottom: 20px;
    box-sizing: border-box;
    box-shadow: none;
    border: 1px solid #00000020;
    border-radius: 50px;
    outline: none;
    background: transparent;
  }
  
  .form-input span {
    position: absolute;
    top: 40px;
    left: 10px;
    padding-left: 7px;
    color: #007bff;
  }
  
  .btn {
    border-radius: 20px;
    font-weight: inherit;
    letter-spacing: 0.1rem;
    transition: 0.5s;
    padding: 6px;
  }
  
  .forget-link,
  .register-link {
    color: #007bff;
  }
  
  .forget-link:hover,
  .register-link:hover {
    color: #0069d9;
    text-decoration: none;
  }