<div class="login-page">
    <div class="container">
      <div class="row px-3">
        <div class="col-lg-10 col-xl-9 card flex-row mx-auto px-0">
          <div class="img-left d-none d-md-flex"></div>
          <div class="card-body">
            <h4 class="title text-center mt-4 font-weight-bold">Recover your account</h4>
            <form action="" class="form-box px-3">
              <div class="form-input">
                <label for="forgot-password-ip" class="font-weight-light ml-2">Enter your mobile no. registered with us</label>
                <span> <i class="fas fa-user"></i></span>
                <input
                  type="tel"
                  name=""
                  id="forgot-password-ip"
                  placeholder="Mobile no."
                  tabindex="10"
                  required
                />
              </div>
              <div class="mb-3">
                <button
                  type="submit"
                  class="btn btn-block btn-success text-uppercase"
                >
                  Send otp
                </button>
              </div>
              <hr class="my-4" />
              <div class="text-center mb-2">
                Don't have an account?
                <a [routerLink]="'/admin/register'" class="register-link">Register</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  