<div class="card-container">
  <div class="container">
    <div class="box">
      <div class="icon">A</div>
      <div class="content">
        <h3>Attendance</h3>
        <p>
          <b>"A teacher is a compass that activates the magnets of curiosity,knowledge and wisdom in the
            pupils."</b><br>
          Please click the buttons below to proceed
        </p>
        <a [routerLink]="'/teacher/addAttendance'">Add</a> &nbsp; &nbsp; <a [routerLink]="'/teacher/updateAttendance'">Update</a>
      </div>
    </div>
    <div class="box">
      <div class="icon">C</div>
      <div class="content">
        <h3>Concern</h3>
        <p>
          <b>"It is the supreme art of a teacher to awaken joy in creative expression and knowledge."</b> <br>
          Please click the button below to proceed
        </p>
        <a [routerLink]="'/teacher/updateConcern'">Update</a>
      </div>
    </div>
    <div class="box">
      <div class="icon">DD</div>
      <div class="content">
        <h3>Daily Diary</h3>
        <p>
          <b>"A good teacher is like a candle - it consumes itself to the light the way for others."</b><br>
          Please click the buttons below to proceed
        </p>
        <a [routerLink]="'/teacher/addDailyDiary'">Add</a> &nbsp; &nbsp; <a [routerLink]="'/teacher/updateDailyDiary'">Update</a>
      </div>
    </div>
    <div class="exam">
      <div class="box">
        <div class="icon">E</div>
        <div class="content">
          <h3>Exam</h3>
          <p>
            <b>"What a teacher writes on the blackboard of life can never be erased."</b><br>
            Please click the buttons below to proceed
          </p>
          <a [routerLink]="'/teacher/addExam'">Add</a> &nbsp; &nbsp; <a [routerLink]="'/teacher/updateExam'">Update</a>
        </div>
      </div>
    </div>

    <div class="report-card">
      <div class="box report-card">
        <div class="icon">R</div>
        <div class="content">
          <h3>Report Card</h3>
          <p>
            <b>"Teaching is an instinctual art, mindful of potential, a pausing, seamless process."</b><br>
            Please click the buttons below to proceed
          </p>
          <a [routerLink]="'/teacher/addReportCard'">Add</a> &nbsp; &nbsp; <a [routerLink]="'/teacher/updateReportCard'">Update</a>
        </div>
      </div>
    </div>
  </div>
</div>
