<div class="card-container">
  <div class="container">
    <div class="box">
      <div class="icon">F</div>
      <div class="content">
        <h3>Fee</h3>
        <p>
          Hey parent, we are glad that you chose us. If you have any concern
          please feel free to raise one. Please click the button below to
          proceed
        </p>
        <a [routerLink]="'/accountant/feeAdd'" class="mr-3">Add</a>
        <a [routerLink]="'/accountant/feeUpdate'" class="ml-3">Update</a>
      </div>
    </div>
  </div>
</div>
