<div class="card-container">
  <div class="container">
    <div class="box">
      <div class="icon">C</div>
      <div class="content">
        <h3>Concern</h3>
        <p>
          Hey parent, we are glad that you chose us. If you have any concern
          please feel free to raise one. Please click the button below to
          proceed
        </p>
        <a [routerLink]="'/parent/studentDetails'">Proceed</a>
      </div>
    </div>
    <div class="box">
      <div class="icon">SD</div>
      <div class="content">
        <h3>Student details</h3>
        <p>
          Hey parent, we are glad that you chose us. Please click the button
          below to check your child's academic details
        </p>
        <a [routerLink]="'/parent/studentDetails'">Proceed</a>
      </div>
    </div>
    <div class="box">
      <div class="icon">Q</div>
      <div class="content">
        <h3>Queries</h3>
        <p>
          Hey parent, we are glad that you chose us. If you have any queries feel free to contact us
        </p>
        <a [routerLink]="'/contactus'">Proceed</a>
      </div>
    </div>
  </div>
</div>
